:root {
  /* Colorscheme */
  --almost-white: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --ultra-light-gray: #ced4daff;
  --light-gray: #adb5bdff;
  --gray: #6c757dff;
  --dark: #495057ff;
  --darker: #343a40ff;
  --ultra-dark: #212529ff;
}

html, body {
  height: 100%;
  margin: 0;
  font-size: 16pt;
}

body {
  background-color: var(--ultra-dark);
  display: flex;
  flex-direction: column;
}

* {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Fira Sans', sans-serif;
  color: var(--almost-white);
  font-smooth: always;
}

.wrapper {
  flex: 1 0 auto;
  max-width: calc(920px - (30px * 2));
  /* position: relative; */
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.header {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  text-align: center;
  font-weight: bold;
  font-size: 24pt;
}

.navbar {
  width: 100%;
  max-width: calc(990px - (30px * 2));
  flex-shrink: 0;
  flex: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
  /* padding-top: 12px; */
  /* padding-bottom: 12px; */
  border-bottom: 1px solid var(--dark);
  border-bottom-color: var(--dark);
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.menu li {
  float: right;
  display: block;
  text-align: center;
  padding: 10px 10px;
}

ul.menu li a {
  text-decoration: none;
  color: var(--gray);
}

ul.menu li.logo {
  float: left;
  font-size: 18pt;
}

ul.menu a:hover {
  color: var(--almost-white);
}

.content-item {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.content-item-title {
  font-size: 16pt;
  color: var(--gainsboro);
}

.content-separator {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 20px;
  border-bottom: 1px solid var(--light-gray);
  border-bottom-color: var(--dark);
  /* color: var(--ultra-dark); */
  /* background-color: var(--light-gray); */
}



.footer {
  width: 100%;
  max-width: calc(990px - (30px * 2));
  border-top: 1px solid var(--light-gray);
  border-top-color: var(--dark);
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
}

.footer p {
  text-align: center;
  font-size: 11pt;
  color: var(--light-gray);
}

.footer p a {
    text-decoration: none;
}

.avatar {
    border-radius: 50%;
}

.index-content {
    margin: auto;
    text-align: center;
}

p {
    font-size: 16pt;
    text-align: justify;
    text-justify: inter-word;
}

