:root {
  /* Colorscheme */
  --almost-white: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --ultra-light-gray: #ced4daff;
  --light-gray: #adb5bdff;
  --gray: #6c757dff;
  --dark: #495057ff;
  --darker: #343a40ff;
  --ultra-dark: #212529ff;
}

* {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Fira Sans', sans-serif;
  color: var(--almost-white);
  font-smooth: always;
}

.wrapper {
  max-width: calc(920px - (30px * 2));
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.header {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
  font-weight: bold;
  font-size: 24pt;
}

.navbar {
  max-width: calc(990px - (30px * 2));
  height: 40px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--dark);
  border-bottom-color: var(--dark);
}

.menu {
  font-size: 16pt;
  margin: auto;
  float: right;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu li {
  display: inline;
  margin-left: 12px;
  color: var(--gray);
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 18pt;
  margin: auto;
  float: left;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content-item {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.content-item-title {
  font-size: 16pt;
  color: var(--gainsboro);
}

.content-separator {
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 16px;
  margin-top: 20px;
  border-bottom: 1px solid var(--light-gray);
  border-bottom-color: var(--dark);
  /* color: var(--ultra-dark); */
  /* background-color: var(--light-gray); */
}


body {
  height: 100%;
  background-color: var(--ultra-dark);
}

div a {
  font-size: 16pt;
  color: #D8DEE9;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  display: inline-block;
}

a {
  color:#81A1C1;
}

a:hover {
  color:#81A1C1;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 12px;
  width: 100%;
  text-align: center;
}
