{% extends "base.html" %}
{% block content %}
<h1 class="post-title">{{post.title}}</h1>
{% block post %}
{% endblock %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>

{% raw %}
<script>
  window.MathJax = {
    tex: {
      macros: {
        hbbox: ["{\\bbox[padding: 5px; border: 2px solid var(--slightly-red)]{#1}}", 1]
      }
    }
  };
</script>
{% endraw %}

<script
    id="MathJax-script"
    async
    src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"
></script>



{% endblock %}
