<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script> -->
    <!-- <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script> -->

    <title>
      ollenurB oettaM
    </title>
  </head>

  <body>
    <!-- Navigation bar menu --!>
    <div class="navbar">
        <span class="logo">
            Ollenurb.
        </span>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/blog.html">Blog</a></li>
            </ul>
        </div>
    </div>

    <!-- Main content --!>
    <div class="wrapper">
        <!-- Header --!>
        <header class="header">$title$</header>

        <!-- Here starts the actual content --!>
        <!-- This content will change based on different pages --!>
        <div class="content">
        $body$
        </div>
    </div>

  </body>
</html>
