{% extends "base.html" %} {% block content %}
<h2><span class="shell-prompt">~</span> whoami</h2>
<p class="first-paragraph">
    I started programming since I was young and never really stopped. These
    days, I'm working as an AI Research Engineer, but in my free time, I love hacking around
    with side projects, reimplementing stuff from scratch just to see how it
    ticks. I studied computer science at the University of Turin, where I did my
    master’s with a <a href="/pdfs/thesis.pdf">thesis</a> on weakly supervised <a href="https://arxiv.org/abs/2002.05709">contrastive
    learning</a> for neuroimaging. When I'm not at the computer, I’m probably at the
    piano playing some classical music.
</p>

<p>If you are a recruiter and stumbled upon this page, you can find my CV <a href="/pdfs/cv.pdf">here</a></p>

<h2><span class="shell-prompt">~</span> elsewhere</h2>
<div>
    <ul class="padded-list">
        <li><a href="http://github.com/ollenurb">GitHub</a></li>
        <li>
            <a href="https://www.linkedin.com/in/matteo-brunello-b139a217a/"
                >LinkedIn</a
            >
        </li>
        <li>
            <a href="mailto:brunello.mtt@gmail.com">Mail</a>
        </li>
    </ul>
</div>
{% endblock %}
